header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  overflow: hidden;
  top: 0px;
  background-color: rgb(52, 52, 52);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(47, 48, 97);

  height: 100%;
  margin: 54px;
  justify-content: center;
  align-items: center;
}

body {
  margin-left: 0px;
  margin-right: 0px;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  justify-content: right;
  align-items: right;
  bottom: 0;
  width: 100%;

  overflow: hidden;
  background-color: #005b63;
}

footer li {
  float: left;
  align-items: center;
  justify-content: center;
}

html {
  font-family: sans-serif;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px 24px;
  text-decoration: none;
}

footer li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px 24px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(5, 52, 48);
}

#mapContainer {
  width: 100%; /* Adjust width as needed */
}

.gridContainer {
  grid-template-columns: 40% auto;
  width: 70%;
  margin: auto;
  background-color: rgba(175, 187, 242, 0.5);
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  text-align-last: center;
  margin-bottom: 100px;
  margin-top: 100px;
}

.gridtext {
  grid-template-columns: 40% auto;
  width: 70%;
  margin: auto;
  background-color: rgba(175, 193, 242, 0.5);
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  text-align-last: center;
  font-size: 25px;
  align-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.gridClass {
  font-size: 25px;
  align-content: center;
}

@media (max-width: 768px) {
  #mapContainer {
    height: 400px;
  }

  .gridContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .gridContainer img {
    width: 100%;
    max-width: 500px;
    height: auto;
  }

  button {
    font-size: 10px;
  }

  .gridtext {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .gridClass {
    text-align: left;
    font-size: 16px;
    padding: 10px;
  }

  footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    list-style-type: none;
    margin: 0;
  }

  footer ul li {
    margin: 10px 0;
  }
}
